.list-item-box {
  height: 200px;
  width: 160px;
  background: url("./images/item.png") no-repeat;
  background-size: contain;
  margin: 14px 10px 0 0;
  position: relative;
  padding: 2px 0 0 4px;
}

.list-item-box:nth-child(7n) {
  margin-right: 0;
}

.list-item-heart {
  position: absolute;
  right: 20px;
  top: 10px;
  height: 20px;
}
